# To use this file with forge:
# * Copy this file to .env
# * Modify as needed.
# * Load file to environment using commands:   set -a; source .env; set +a

ACCOUNT_PVT_KEY=0x7714006fd570adc267188d7d8df94e8bb9d4be7211a3ba626f7f6cafd277ac9b
# ACCOUNT_PVT_KEY=0x4c89002ddacbeb50e6aed906df9af885767b7c28f5fa1bd66beaa3343735e7cd

RUN_NAME=A1

PASSPORT_GEM_NEW_PASSPORT=0
PASSPORT_GEM_GAME=0
PASSPORT_HUNTERS_ON_CHAIN_CLAIM_GAME=0
PASSPORT_HUNTERS_ON_CHAIN_RECIPE=0
PASSPORT_HUNTERS_ON_CHAIN_BITGEM=0
PASSPORT_GUILD_OF_GUARDIANS_CLAIM=0
PASSPORT_SPACETREK_CLAIM=0
PASSPORT_SPACENATION_COIN=0
EOA_HUNTERS_ON_CHAIN_BGEM_CLAIM=0
EOA_HUNTERS_ON_CHAIN_RELAYER_MINT=0
EOA_HUNTERS_ON_CHAIN_RELAYER_SHARD_MINT=0
EOA_GEM_GAME=0
EOA_VALUE_TRANSFER=0
EOA_BABY_SHARK_UNIVERSE_PROXY=0
EOA_BABY_SHARK_UNIVERSE=0
EOA_BLACKPASS=0
HUNTERS_ON_CHAIN=0
